.App {
    margin: 30px;
}

.Component {
    height: 400px;
    display: block;
    float:left;
}

.App .Component {
    margin-top: 100px;
}

.Component .Lines {
    width: 100%;
    height: 100%;
    display: flex;
}

.Component .Buttons{
    text-align: center;
}
